<div class="container">
  <span id="banner-typed-text"></span>
    <div class="row">
      <% @cocktails.each do |c| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-cross">
              <%= link_to cocktail_path(c), method: :delete, data: { confirm: "Are u sure?" } do %>
                <i class="fas fa-minus-square"></i>
              <% end %>
            </div>
            <div class="card-avatar">
              <%= cl_image_tag c.photo unless c.photo.file.nil? %>
            </div>
            <div class="card-category">
              <i class="fas fa-beer"></i>
            </div>
            <div class="card-description">
              <h2><%= link_to c.name, cocktail_path(c) %></h2>
              <p>
                <ul>
                  <% c.ingredients.each do |i| %>
                    <li> <%= i.name %> </li>
                  <% end %>
                </ul>
              </p>
            </div>
              <!-- <a class="card-link" href= "cocktails/<%= c.id %>" ></a> -->
            </div>
        </div>
      <% end %>
    </div>
</div>


