<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <table class="table-dose">
    <thead>
      <tr>
        <td>Dose</td>
        <td>Ingredient</td>
      </tr>
    </thead>
    <tbody>
      <% @cocktail.doses.each do |c| %>
        <tr>
          <td>
            <%= c.description %>
          </td>
          <td>
            <%= c.ingredient.name %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>

  <div class="footer">
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    <%= link_to "Back to Mister Cocktail", cocktails_path, class: "btn btn-primary" %>
  </div>



</div>
